.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.Img-NavBar{
  height: 50px;
  width: 50px;
}
.Lista-NavBar{
  list-style-type: none;
}
.Item-Lista-NavBar{
  float: left;
  margin-right: 100px;
}
.Enlaces-Navbar{
  text-decoration: none;
  color: #61dafb;
}
.Activo{
  text-decoration: underline;
}